:root {
  --main-text-color: #c32e4c;
  --red-background: rgb(198, 40, 40);
  --grey-background: #f6f6f6;
}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 40px;
  z-index: 100;
}

header img {
  height: 40px;
}

.button_years-container.header_buttons {
  position: relative;
  background-color: transparent;
  justify-content: end;
  margin: 0 60px 0;
}

.intro_section {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("./src/assets/images/20220420_A11y-Workshop_Powercoders-69-scaled.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 120px;
}

.button_years-container {
  width: 1140px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding: 10px 40px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.button_years-container button {
  background: transparent;
  border: none;
  border-radius: 8px;
  font-size: 28px;
  color: var(--main-text-color);
  padding: 4px 18px;
  cursor: pointer;
}

.button_years-container button:hover {
  background: var(--main-text-color);
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.ml12 {
  font-weight: 500;
  font-size: 5em;
  color: white;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
  text-transform: lowercase;
}

.ml12 .letter:first-child,
.ml12 .letter:nth-child(7) {
  text-transform: capitalize !important;
}

.impact_section {
  width: 1140px;
  margin: 100px auto;
}

.impact_section h2 {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

.impact_section p {
  font-size: 20px;
  margin: 20px 0;
}

.slide-in-container {
  position: relative;
  height: 100vh;
}

.slide-in-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  color: var(--main-text-color);
}

.slide-in-block.slide-in-active {
  animation: slideIn 1.25s ease-out forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-content {
  width: 1140px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.slide-in-content h2 {
  margin: 40px 0;
  font-size: 38px;
  font-weight: 700;
}

.static-container {
  position: relative;
  height: 100vh;
}

.static-block {
  display: flex;
  justify-content: center;
}

.static-content {
  height: 100vh;
  width: 1140px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.static-content h2 {
  margin: 40px 0;
  font-size: 38px;
  font-weight: 700;
  color: var(--main-text-color);
}

.impact-images_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  margin-top: 16px;
}

.impact-images_container img {
  width: 100%;
  height: 240px;
  border-radius: 6px;
  object-fit: cover;
}

.women-connect_flex-container {
  display: flex;
  gap: 16px;
}

.women-connect_flex-container > div {
  margin-top: 100px;
}

.women-connect_flex-container > div img {
  width: 460px;
  border-radius: 6px;
}

.impact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin-top: 30px;
}

.impact-item {
  width: 33%;
  height: 150px;
  position: relative;
  font-size: 30px;
  background: var(--main-text-color);
  color: white;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  flex: 1 1 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.impact-item img {
  width: 60px;
  position: absolute;
  top: 10px;
  right: 70px;
}

.impact-counter {
  font-size: 40px;
  margin: 10px 0;
}

.item-without_number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-container {
  background-color: var(--grey-background);
  padding: 20px 0;
}

.partners-section {
  width: 1140px;
  margin: 140px auto;
  overflow: hidden;
}

.partners-section h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--main-text-color);
  margin-bottom: 100px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.marquee-content {
  display: flex;
  gap: 2rem;
  animation: scroll-marquee 40s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}

.marquee-content img {
  height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.marquee-content img:hover {
  filter: grayscale(0%);
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-560%);
  }
}

.women-connect-container .slide-in-block {
  background-color: var(--main-text-color);
  color: white;
}

.slide-in_description {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.women-connect-container .impact-item {
  background-color: #f6f6f6;
  color: #333333;
}

.women-connect_subtext {
  font-size: 24px;
}

.bootcamp_grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-top: 16px;
}

.bootcamp_grid-container img {
  width: 100%;
  height: 240px;
  border-radius: 6px;
  object-fit: cover;
}

.thankyou-section {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.thankyou-container {
  width: 1140px;
  display: flex;
  gap: 40px;
}

.thankyou-section h2 {
  margin: 20px 0;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: var(--main-text-color);
}

.thankyou-container p {
  margin: 30px 0;
  font-size: 20px;
  color: #333333;
}

.thankyou-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thankyou-images .thankyou-img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.thankyou-container ul {
  list-style: none;
}

.thankyou-container li {
  display: flex;
  gap: 20px;
}

.thankyou-container img {
  width: 100px;
  height: auto;
}

.contact-section {
  background-color: var(--grey-background);
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.contact-container {
  width: 1140px;
}

.contact-container h2 {
  margin: 20px 0;
  font-size: 38px;
  font-weight: 700;
  color: var(--main-text-color);
}

.contact-container p {
  margin: 40px 0;
  font-size: 20px;
}

.contact-container a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--main-text-color);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: white;
}

.contact-container a:hover {
  background-color: #6dbdb2;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #333333;
  color: white;
}

@media screen and (max-width: 768px) {
  .marquee-content img {
    height: 60px;
  }
}
