:root {
  --main-text-color: #c32e4c;
  --red-background: rgb(198, 40, 40);
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 40px;
  z-index: 100;
}

header img {
  height: 40px;
}

.intro_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('./src/assets/images/20220420_A11y-Workshop_Powercoders-69-scaled.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 120px;
}

.intro_section p {
  width: 70%;
  font-size: 24px;
  text-align: center;
}

.ml12 {
  font-weight: 500;
  font-size: 5em;
  color: white;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.impact_container {
  padding-top: 30px;
}

.impact_section {
  width: 1140px;
  margin: 100px auto;
}

.impact_section h2 {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

.impact_section p {
  font-size: 20px;
  margin: 20px 0;
}

.slide-in-container {
  position: relative;
  height: 100vh; 
}

.slide-in-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  transform: translateX(-100%);
  display: flex;
  justify-content: center;
  color: var(--main-text-color);
}

.slide-in-block.slide-in-active {
  animation: slideIn 1.25s ease-out forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-content {
  width: 1140px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.slide-in-content h2 {
  margin: 40px 0;
  font-size: 38px;
  font-weight: 700;
}

.impact-container {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-top: 40px; 
}

.impact-item {
  width: 33%;
  height: 150px;
  font-size: 30px;
  background: var(--main-text-color);
  color: white;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  flex: 1 1 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.impact-counter {
  font-size: 40px;
  margin: 10px 0;
}

.partners-section {
  width: 1140px;
  margin: 140px auto;
  overflow: hidden;
}

.partners-section h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--main-text-color);
  margin-bottom: 100px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.marquee-content {
  display: flex;
  gap: 2rem;
  animation: scroll-marquee 40s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}

.marquee-content img {
  height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.marquee-content img:hover {
  filter: grayscale(0%);
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-560%);
  }
}

.women-connect-container .slide-in-block{
  background-color: var(--main-text-color);
  color: white;
}

.women-connect_description {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.women-connect-container .impact-item {
  background-color: #f6f6f6;
  color:#333333;
}

.women-connect_subtext {
  font-size: 24px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #333333;
  color: white;
}

@media screen and (max-width: 768px) {
  .marquee-content img {
    height: 60px;
  }
}